html, body, .container-table {
    height: 90%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.card {
	margin: auto;
    width: 30%;
    padding: 10px;
}

.card ul {
	width: 100%;
}

.card ul li {	
	display: inline-block;
	padding: 0 1em 0 0;
}

.fa.icon-black {
    color: black;
}